@charset "UTF-8";
*{
	padding:0;
	margin: 0;
	font-family: sans-serif;
}
iframe{	
		padding-left:250px;
		
		border: none;
		width: 100%;
		height: 900px;
		align-content: center;
	
	}
.menuLateral{
	background-color:rgba(0, 26.18048496544361, 54.18750151991844, 1);
	width: 250px;
	height: 100%;
	position: fixed;
}
.menuLateral .titulo{
	color: white;
	text-align: center;
	font-weight: bold;
	line-height: 45px;
	font-size: 24px;
	border-bottom: 2px solid red;
}
.menuLateral ul{
	list-style: none;
}
.menuLateral ul li{
	line-height: 40px;
	border-bottom: 1px solid white;
}
.menuLateral ul li a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding-left: 30px;
	font-weight: bold;
	display: block;
}
.menuLateral ul li a:hover{
	background-color: #370707;
	transition: 0.5s;
}

.menuLateral ul ul li a{
	font-size:16px;
	font-weight: 300;
	padding-left: 60px;
	display: block;
	/*background-color: rgba(0, 84.70156654715538, 175.3125, 1);*/
	background-color: #001A36;
}

.menuLateral ul ul ul li a{
	font-size:16px;
	font-weight: 300;
	padding-left: 80px;
	display: block;
	background-color: rgba(0, 84.70156654715538, 175.3125, 1);
}

.menuLateral ul ul {
	display: none;
}

.menuLateral ul ul ul{
	display: none;
}
.menuLateral ul .itensEscola.mostra{
	display: block;
}

.menuLateral ul ul .itensEscola_Cadastro.mostra{
	display: block;
}
.menuLateral ul .itensAluno.mostra{
	display: block;
}
.menuLateral ul .itensAluno_Cadastro.mostra{
	display: block;
}
.menuLateral ul .itensFuncionario.mostra{
	display: block;
}

.menuLateral ul ul .itensFunc_Cadastro.mostra{
	display: block;
}