@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

#e69_2 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1045px;
	height:791px;
	position:absolute;
}
#e69_89 { 
	background-color:rgba(255, 255, 255, 1);
	background-image:linear-gradient(0deg, rgba(229.49999392032623, 229.49999392032623, 229.49999392032623, 1) 0%,rgba(255, 255, 255, 1) 100%) ;
	opacity:1;
	border:1px solid rgba(137.00000703334808, 137.00000703334808, 137.00000703334808, 1);
	width:817px;
	height:136px;
	position:absolute;
	left:225px;
	top:-37px;
}
#e69_90 { 
	background-color:rgba(193.28646272420883, 236.01577788591385, 250.75000405311584, 1);
	opacity:1;
	width:265px;
	height:31px;
	position:absolute;
	left:417px;
	top:10px;
	border-radius:112px;
}
#e69_91 { 
	opacity:1;
	width:40px;
	height:63px;
	position:absolute;
	left:345px;
	top:20px;
	background-image:url(images/e1200px_bras_o_de_s_o_lu_s_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e69_92 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:124px;
	height:38px;
	position:absolute;
	left:416px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e69_93 { 
	background-color:rgba(193.28646272420883, 236.01577788591385, 250.75000405311584, 1);
	opacity:1;
	width:265px;
	height:31px;
	position:absolute;
	left:728px;
	top:60px;
	border-radius:112px;
}
#e69_94 { 
	background-color:rgba(193.28646272420883, 236.01577788591385, 250.75000405311584, 1);
	opacity:1;
	width:265px;
	height:31px;
	position:absolute;
	left:728px;
	top:25px;
	border-radius:112px;
}
#e69_95 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:118px;
	height:21px;
	position:absolute;
	left:456px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e69_96 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:166px;
	height:21px;
	position:absolute;
	left:769px;
	top:31px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e69_97 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:213px;
	height:21px;
	position:absolute;
	left:769px;
	top:63px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e69_102 { 
	background-color:rgba(210.00000268220901, 208.0000028014183, 208.0000028014183, 1);
	background-image:linear-gradient(0deg, rgba(229.49999392032623, 229.49999392032623, 229.49999392032623, 1) 0%,rgba(255, 255, 255, 1) 100%) ;
	opacity:1;
	border:1px solid rgba(137.00000703334808, 137.00000703334808, 137.00000703334808, 1);
	width:820px;
	height:751px;
	position:absolute;
	left:225px;
	top:99px;
}
#e172_72 { 
	background-color:rgba(0, 26.18048496544361, 54.18750151991844, 1);
	opacity:1;
	border:1px solid rgba(137.00000703334808, 137.00000703334808, 137.00000703334808, 1);
	width:1071px;
	height:136px;
	position:absolute;
	left:0px;
	top:-2px;
}
#e69_98 { 
	background-color:rgba(0, 26.18048496544361, 54.18750151991844, 1);
	opacity:1;
	width:225px;
	height:791px;
	position:absolute;
	left:0px;
	top:0px;
}
#e69_100 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:225px;
	height:0px;
	position:absolute;
	left:0px;
	top:150px;
}
#e172_73 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1031px;
	height:94px;
	position:absolute;
	left:14px;
	top:27px;
}
#ei172_73_165_19 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:284px;
	height:33.57142639160156px;
	position:absolute;
	left:65px;
	top:5.755102157592773px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#ei172_73_165_20 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:282px;
	height:21px;
	position:absolute;
	left:749px;
	top:27.816328048706055px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#ei172_73_165_21 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:141px;
	height:21px;
	position:absolute;
	left:768px;
	top:50.83673095703125px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#ei172_73_165_22 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:148px;
	height:21px;
	position:absolute;
	left:766px;
	top:73.85713958740234px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_276 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:108px;
	height:46px;
	position:absolute;
	left:821px;
	top:143px;
}
#e172_277 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:108px;
	height:46px;
	position:absolute;
	left:724px;
	top:143px;
}
#e172_278 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:108px;
	height:46px;
	position:absolute;
	left:626px;
	top:143px;
}
#e172_279 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:108px;
	height:46px;
	position:absolute;
	left:531px;
	top:143px;
}
#e172_280 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:108px;
	height:46px;
	position:absolute;
	left:433px;
	top:143px;
}
#e172_281 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:108px;
	height:46px;
	position:absolute;
	left:336px;
	top:143px;
}
#e172_282 { 
	background-color:rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:108px;
	height:46px;
	position:absolute;
	left:240px;
	top:143px;
}
#e172_283 { 
	background-color:rgba(237.12343364953995, 239.37461525201797, 240.12499898672104, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:798px;
	height:520px;
	position:absolute;
	left:240px;
	top:186px;
}
#e172_284 { 
	background-color:rgba(233.00000131130219, 238.00000101327896, 240.00000089406967, 1);
	opacity:1;
	width:106px;
	height:1px;
	position:absolute;
	left:241px;
	top:186px;
}
#e172_285 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:44px;
	height:32px;
	position:absolute;
	left:260px;
	top:144px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_286 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:60px;
	height:32px;
	position:absolute;
	left:360px;
	top:144px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_287 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:84px;
	height:32px;
	position:absolute;
	left:646px;
	top:144px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_288 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:62px;
	height:32px;
	position:absolute;
	left:739px;
	top:144px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_289 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:77px;
	height:16px;
	position:absolute;
	left:840px;
	top:157px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_290 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:85px;
	height:16px;
	position:absolute;
	left:447px;
	top:157px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_291 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:90px;
	height:16px;
	position:absolute;
	left:544px;
	top:157px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_292 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:593px;
	height:93px;
	position:absolute;
	left:251px;
	top:218px;
}
#e172_293 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:593px;
	height:119px;
	position:absolute;
	left:251px;
	top:342px;
}
#e172_294 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:593px;
	height:53px;
	position:absolute;
	left:251px;
	top:511px;
}
#e172_295 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:593px;
	height:74px;
	position:absolute;
	left:251px;
	top:598px;
}
#e172_296 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:166px;
	height:93px;
	position:absolute;
	left:856px;
	top:218px;
}
#e172_297 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:166px;
	height:83px;
	position:absolute;
	left:857px;
	top:342px;
}
#e172_298 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:166px;
	height:109px;
	position:absolute;
	left:857px;
	top:538px;
}
#e172_299 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:166px;
	height:61px;
	position:absolute;
	left:857px;
	top:452px;
}
#e172_300 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:30px;
	height:14px;
	position:absolute;
	left:738px;
	top:229px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_301 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:40px;
	height:14px;
	position:absolute;
	left:792px;
	top:229px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_302 { 
	background-color:rgba(179.56249594688416, 179.56249594688416, 179.56249594688416, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:593px;
	height:19px;
	position:absolute;
	left:251px;
	top:200px;
}
#e172_303 { 
	background-color:rgba(180.00000447034836, 180.00000447034836, 180.00000447034836, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:593px;
	height:19px;
	position:absolute;
	left:251px;
	top:324px;
}
#e172_304 { 
	background-color:rgba(180.00000447034836, 180.00000447034836, 180.00000447034836, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:593px;
	height:19px;
	position:absolute;
	left:251px;
	top:493px;
}
#e172_305 { 
	background-color:rgba(180.00000447034836, 180.00000447034836, 180.00000447034836, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:593px;
	height:19px;
	position:absolute;
	left:251px;
	top:580px;
}
#e172_306 { 
	background-color:rgba(180.00000447034836, 180.00000447034836, 180.00000447034836, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:166px;
	height:19px;
	position:absolute;
	left:856px;
	top:200px;
}
#e172_307 { 
	background-color:rgba(180.00000447034836, 180.00000447034836, 180.00000447034836, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:166px;
	height:19px;
	position:absolute;
	left:857px;
	top:324px;
}
#e172_308 { 
	background-color:rgba(180.00000447034836, 180.00000447034836, 180.00000447034836, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:166px;
	height:19px;
	position:absolute;
	left:857px;
	top:520px;
}
#e172_309 { 
	background-color:rgba(180.00000447034836, 180.00000447034836, 180.00000447034836, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:166px;
	height:19px;
	position:absolute;
	left:857px;
	top:434px;
}
#e172_310 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:112px;
	height:15px;
	position:absolute;
	left:254px;
	top:202px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_311 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:55px;
	height:15px;
	position:absolute;
	left:254px;
	top:326px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_312 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:46px;
	height:15px;
	position:absolute;
	left:254px;
	top:495px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_313 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:203px;
	height:15px;
	position:absolute;
	left:254px;
	top:582px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_314 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:184px;
	height:14px;
	position:absolute;
	left:256px;
	top:229px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_315 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:26px;
	height:14px;
	position:absolute;
	left:256px;
	top:353px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_316 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:75px;
	height:14px;
	position:absolute;
	left:256px;
	top:522px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_317 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:92px;
	height:28px;
	position:absolute;
	left:260px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_318 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:259px;
	height:13px;
	position:absolute;
	left:455px;
	top:230px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_319 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:38px;
	height:13px;
	position:absolute;
	left:611px;
	top:354px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_320 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:22px;
	height:14px;
	position:absolute;
	left:569px;
	top:523px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_322 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:65px;
	height:14px;
	position:absolute;
	left:256px;
	top:371px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_323 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:90px;
	height:14px;
	position:absolute;
	left:256px;
	top:540px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_325 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:42px;
	height:26px;
	position:absolute;
	left:611px;
	top:372px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_326 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:30px;
	height:14px;
	position:absolute;
	left:738px;
	top:247px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e948_717 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:27px;
	height:14px;
	position:absolute;
	left:738px;
	top:268px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e948_719 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:25px;
	height:14px;
	position:absolute;
	left:792px;
	top:268px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_327 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:32px;
	height:14px;
	position:absolute;
	left:792px;
	top:247px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_328 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:74px;
	height:14px;
	position:absolute;
	left:256px;
	top:267px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_329 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:79px;
	height:14px;
	position:absolute;
	left:256px;
	top:391px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_330 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:105px;
	height:14px;
	position:absolute;
	left:569px;
	top:540px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_331 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:39px;
	height:14px;
	position:absolute;
	left:548px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_332 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:40px;
	height:14px;
	position:absolute;
	left:548px;
	top:638px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_333 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:455px;
	top:267px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_334 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:371px;
	top:353px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_335 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:371px;
	top:522px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_336 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:371px;
	top:371px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_337 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:371px;
	top:540px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_338 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:371px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_339 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:606px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_340 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:606px;
	top:638px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_341 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:371px;
	top:391px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_342 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:684px;
	top:540px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_343 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:371px;
	top:410px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_344 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:371px;
	top:430px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_345 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:715px;
	top:391px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_346 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:715px;
	top:371px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_347 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:715px;
	top:353px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_348 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:673px;
	top:522px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_349 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:35px;
	height:14px;
	position:absolute;
	left:611px;
	top:391px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_350 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:47px;
	height:14px;
	position:absolute;
	left:611px;
	top:410px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_351 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:57px;
	height:14px;
	position:absolute;
	left:611px;
	top:430px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_352 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:93px;
	height:14px;
	position:absolute;
	left:256px;
	top:286px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_353 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:18px;
	height:14px;
	position:absolute;
	left:256px;
	top:410px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_354 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:104px;
	height:14px;
	position:absolute;
	left:455px;
	top:287px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_355 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:56px;
	height:14px;
	position:absolute;
	left:256px;
	top:430px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_356 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:152px;
	height:14px;
	position:absolute;
	left:860px;
	top:204px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_357 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:160px;
	height:14px;
	position:absolute;
	left:861px;
	top:328px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_358 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:150px;
	height:14px;
	position:absolute;
	left:861px;
	top:524px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_359 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:65px;
	height:14px;
	position:absolute;
	left:861px;
	top:438px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_360 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:104px;
	height:14px;
	position:absolute;
	left:865px;
	top:230px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_361 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:21px;
	height:14px;
	position:absolute;
	left:866px;
	top:349px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_362 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:40px;
	height:14px;
	position:absolute;
	left:866px;
	top:545px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_363 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:21px;
	height:14px;
	position:absolute;
	left:866px;
	top:464px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_364 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:57px;
	height:14px;
	position:absolute;
	left:865px;
	top:256px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_365 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:22px;
	height:14px;
	position:absolute;
	left:866px;
	top:375px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_366 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:47px;
	height:14px;
	position:absolute;
	left:866px;
	top:571px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_367 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:22px;
	height:14px;
	position:absolute;
	left:866px;
	top:490px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_368 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:37px;
	height:14px;
	position:absolute;
	left:865px;
	top:282px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_369 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:81px;
	height:14px;
	position:absolute;
	left:866px;
	top:401px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_370 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:53px;
	height:14px;
	position:absolute;
	left:866px;
	top:597px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_371 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:41px;
	height:14px;
	position:absolute;
	left:866px;
	top:625px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_372 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:982px;
	top:229px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_373 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:983px;
	top:348px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_374 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:983px;
	top:544px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_375 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:983px;
	top:463px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_376 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:982px;
	top:255px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_377 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:983px;
	top:374px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_378 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:983px;
	top:570px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_379 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:983px;
	top:489px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_380 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:982px;
	top:281px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_381 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:983px;
	top:400px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_382 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:983px;
	top:596px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e172_383 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 86.00000247359276, 179.000004529953, 1);
	width:18px;
	height:16px;
	position:absolute;
	left:983px;
	top:624px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e290_258 { 
	background-color:rgba(0, 26.18048496544361, 54.18750151991844, 1);
	opacity:1;
	width:239px;
	height:648px;
	position:absolute;
	left:-12px;
	top:106px;
}
#e290_259 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:84px;
	height:33px;
	position:absolute;
	left:17px;
	top:157px;
	font-family:Roboto;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_260 { 
	background-color:rgba(0, 37.987371012568474, 78.62500101327896, 1);
	opacity:1;
	border:0.5px solid rgba(0, 0, 0, 1);
	width:228px;
	height:575px;
	position:absolute;
	left:-1px;
	top:150px;
}
#e290_261 { 
	color:rgba(134.21499967575073, 131.74999594688416, 255, 1);
	opacity:1;
	width:84px;
	height:33px;
	position:absolute;
	left:17px;
	top:157px;
	font-family:Roboto;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_262 { 
	transform: rotate(-0.000005008956538086317deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:228px;
	height:0px;
	position:absolute;
	left:-1px;
	top:246px;
}
#e290_263 { 
	transform: rotate(0.000005008956130975318deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:236px;
	height:0px;
	position:absolute;
	left:-9px;
	top:340px;
}
#e290_264 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:224px;
	height:0px;
	position:absolute;
	left:3px;
	top:388px;
}
#e290_265 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:224px;
	height:0px;
	position:absolute;
	left:3px;
	top:436px;
}
#e290_266 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:224px;
	height:0px;
	position:absolute;
	left:3px;
	top:484px;
}
#e290_267 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:224px;
	height:0px;
	position:absolute;
	left:3px;
	top:532px;
}
#e290_268 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:224px;
	height:0px;
	position:absolute;
	left:3px;
	top:580px;
}
#e290_269 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:224px;
	height:0px;
	position:absolute;
	left:3px;
	top:628px;
}
#e290_270 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:224px;
	height:0px;
	position:absolute;
	left:3px;
	top:676px;
}
#e290_271 { 
	color:rgba(134.21499967575073, 131.74999594688416, 255, 1);
	opacity:1;
	width:110px;
	height:21px;
	position:absolute;
	left:42px;
	top:215px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_272 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:138px;
	height:42px;
	position:absolute;
	left:44px;
	top:392px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_273 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:82px;
	height:21px;
	position:absolute;
	left:45px;
	top:449px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_274 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:82px;
	height:21px;
	position:absolute;
	left:45px;
	top:498px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_275 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:114px;
	height:42px;
	position:absolute;
	left:45px;
	top:535px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_276 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:189px;
	height:21px;
	position:absolute;
	left:45px;
	top:595px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_277 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:225px;
	height:0px;
	position:absolute;
	left:2px;
	top:197px;
}
#e290_278 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:225px;
	height:49px;
	position:absolute;
	left:2px;
	top:197px;
}
#e290_279 { 
	background-color:rgba(0, 51.84762507677078, 107.31249645352364, 1);
	opacity:1;
	border:0.5px solid rgba(0, 0, 0, 1);
	width:242px;
	height:142px;
	position:absolute;
	left:-15px;
	top:246px;
}
#e290_280 { 
	background-color:rgba(0, 84.70156654715538, 175.3125, 1);
	opacity:1;
	border:0.5px solid rgba(0, 0, 0, 1);
	width:242px;
	height:56px;
	position:absolute;
	left:-15px;
	top:278px;
}
#e290_281 { 
	color:rgba(134.21499967575073, 131.74999594688416, 255, 1);
	opacity:1;
	width:70px;
	height:19px;
	position:absolute;
	left:42px;
	top:252px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_282 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:71px;
	height:19px;
	position:absolute;
	left:42px;
	top:338px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_283 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:33px;
	height:19px;
	position:absolute;
	left:42px;
	top:281px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_284 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:45px;
	height:19px;
	position:absolute;
	left:42px;
	top:306px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_285 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:48px;
	height:19px;
	position:absolute;
	left:42px;
	top:365px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_286 { 
	transform: rotate(0.000005008956130975318deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:228px;
	height:0px;
	position:absolute;
	left:-1px;
	top:365px;
}
#e290_287 { 
	transform: rotate(0.000005008956130975318deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:228px;
	height:0px;
	position:absolute;
	left:-1px;
	top:306px;
}
#e290_288 { 
	transform: rotate(0.000005008956130975318deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:228px;
	height:0px;
	position:absolute;
	left:-1px;
	top:334px;
}
#e290_289 { 
	transform: rotate(0.000005008956130975318deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:236px;
	height:0px;
	position:absolute;
	left:-9px;
	top:278px;
}
#e290_290 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:179px;
	height:21px;
	position:absolute;
	left:35px;
	top:642px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e290_291 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:188px;
	height:21px;
	position:absolute;
	left:35px;
	top:689px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e172_79 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:24px;
	height:21px;
	position:absolute;
	left:1px;
	top:128px;
}
#ei172_79_165_24 { 
	background-color:rgba(5.511718243360519, 45.4562084376812, 88.18749949336052, 1);
	opacity:1;
	width:24px;
	height:21px;
	position:absolute;
	left:0px;
	top:9.179391327052144e-7px;
}
#ei172_79_165_25 { 
	transform: rotate(-90.00000250447808deg);
	background-color:rgba(0, 123.20227861404419, 255, 1);
	opacity:0.6000000238418579;
	width:21px;
	height:21px;
	position:absolute;
	left:3px;
	top:21px;
}
#ei172_79_165_26 { 
	opacity:1;
	border:0.5px solid rgba(0, 0, 0, 1);
	width:10px;
	height:11px;
	position:absolute;
	left:6px;
	top:5.000000953674316px;
}
#e296_597 { 
	opacity:1;
	width:1045px;
	height:66px;
	position:absolute;
	left:0px;
	top:727px;
	background-image:url(images/erodape_validado.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e310_809 { 
	border-radius:500px;
	background-color:rgba(0, 174.00000482797623, 230.00000149011612, 0.4000000059604645);
	opacity:1;
	border:3px solid rgba(0, 0, 0, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:996px;
	top:669px;
}
#e310_810 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:17px;
	height:51px;
	position:absolute;
	left:1008px;
	top:665px;
	font-family:Coustard;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e310_811 { 
	background-color:rgba(126.00000008940697, 194.00000363588333, 217.0000022649765, 1);
	opacity:1;
	width:50px;
	height:14px;
	position:absolute;
	left:991px;
	top:727px;
}
#e310_812 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:39px;
	height:14px;
	position:absolute;
	left:996px;
	top:713px;
	font-family:Coustard;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
	line-height:undefined;
}
#e469_715 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66px;
	height:14px;
	position:absolute;
	left:455px;
	top:249px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e469_716 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:41px;
	height:14px;
	position:absolute;
	left:256px;
	top:249px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}


